{
  "presets": [
    "es2015"
  ],
  "ignore": [
    "htsl-lexicon",
    "nomocas-webutils"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      
    }
  }
}
